@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bucuresti<br />
    Preciziei 25<br />
    <abbr title="Phone">P:</abbr>
    0752177221
</address>

<address>
    <strong>Suport:</strong> <a href="mailto:Marketing@example.com">nyx@suport.com</a>
</address>